//.Home{
//}

.Home-content{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 40px;
}

.home-Card_content{
	width: 100%;
	margin-top: 40px;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.noMovies_text{
	color: #333;
	font-size: 1.4rem;
}

.paginator{
	margin: 30px 0px;
	span{
		margin: 0px 10px;
		cursor: pointer;
		user-select: none; 
		font-size: 2rem;
		color: #333;
	}
}
