*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: rgb(38,213,252);
  background: linear-gradient(90deg, rgba(38,213,252,1) 0%, rgba(163,71,255,1) 90%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Pagecontent{
  width: 60%;
  height: 100%;
  margin: auto;
}

@media (max-width: 1000px) {
	.Pagecontent {
		width: 95%;
	}
}
